@import "tailwindcss";

@media screen and (min-width: 769px) and (max-width: 822px) {
  nav h1{
    margin-left: 0px;
    margin-right: 0px;
  }
  
}

@media screen and (min-width: 0px) and (max-width: 300px) {
  .hero-title {
    padding: 0px 10px;
    font-size: 1rem;
  }

  .hero-description {
    padding: 0px 10px;
    font-size: 14px;
  }
  
  .hero-links {
    flex-direction: column;
  }

  .hero-links a {
    padding: 9px 4px;
  }

  .logo-head {
    font-size: 20px;
    margin: 0 0;
  }

  .hamburgerIcon {
    margin-right: 0;
  }

}